section.hero 
    .hero__wrapper
        h1.hero__heading One app, all things money
        p.hero__description Open a free account in minutes right from your phone, and make your money go further
                