section.salary 
    .salary__contanier 
        h1.salary__title GET YOUR SALARY A&nbsp;DAY EARLY
        h2.salary__subtitle You’ve earned it!
        .salary__features.features 
            .features__item 
                .features__text
                    h3.features__title Enjoy payday brought to you a day sooner
                    p.features__description Just switch your salary from your current bank to Revolut by simply sending a ready-made email
                    a.features__link Get started
                img.features__img(src="images/salary_img1.png", alt="get paid")
            .features__item 
                .features__text 
                    h3.features__title No fees, just cash
                    p.features__description We won't take a penny of your hard earned cash, so you can fully enjoy your paycheck before everyone else!
                    a.features__link Get started
                img.features__img(src="images/salary_img2.png", alt="no fees")
            .features__item 
                .features__text 
                    h3.features__title No hassle – we’ve got it covered
                    p.features__description Forget manual set-ups or confirmations. Once your salary's switched to Revolut, you'll just get your money a day early
                    a.features__link Get started
                img.features__img(src="images/salary_img3.png", alt="no hassle")
<svg class="svg">
  <clipPath id="salary_path" clipPathUnits="objectBoundingBox">
    <path transform="matrix(-1, 0, 0, 1, 0, 0)" d="M0.189,0 H1 V0.809 a0.189,0.191,0,0,1,-0.189,0.191 H0 V0.191 A0.189,0.191,0,0,1,0.189,0"/>
  </clipPath>
</svg>