section.security 
    .security__contanier 
        h1.security__title SECURITY IS OUR MISSION
        .security__cards.cards
            .cards__item
                h2.cards__title Enjoy payday brought to you a day sooner
                p.cards__description Just switch your salary from your current bank to&nbsp;Revolut by&nbsp;simply sending a&nbsp;ready-made email
                a(href="#").cards__link Learn more
                
            .cards__item
                h2.cards__title Infrastructure Security
                p.cards__description All of&nbsp;our website data is&nbsp;transmitted over encrypted Transport Layer Security (TLS) connections.
                a(href="#").cards__link Learn more
                .cards__filter                
              
            .cards__item
                h2.cards__title Internal Controls
                p.cards__description Multiple signatures are required to&nbsp;transfer cryptocurrency
                a(href="#").cards__link Learn more
                .cards__filter                
          
            .cards__item
                h2.cards__title Crypto Security
                p.cards__description All private keys are stored and managed there for their lifetime.
                a(href="#").cards__link Learn more