section.security 
    .security__contanier 
        h1.security__title SECURITY IS OUR MISSION
        .security__cards.cards
            .cards__item
                h2.cards__title Enjoy payday brought to you a day sooner
                a.cards__link Learn more
                .cards__hover 
                    h2.cards__title 
                    p.cards__decsription 
                    a.cards__link
            .cards__item
                h2.cards__title Infrastructure Security
                a.cards__link Learn more
                .cards__hover 
                    h2.cards__title 
                    p.cards__decsription 
                    a.cards__link
            .cards__item
                h2.cards__title Internal Controls
                a.cards__link Learn more
                .cards__hover 
                    h2.cards__title 
                    p.cards__decsription 
                    a.cards__link
            .cards__item
                h2.cards__title Crypto Security
                a.cards__link Learn more
                .cards__hover 
                    h2.cards__title 
                    p.cards__decsription 
                    a.cards__link
