section.slider 
    .slider__container
        h1.slider__heading Product Specs
        .swiper
            .swiper-wrapper
                .swiper-slide 
                    img(src="images/IMG1.png", alt="barcode")
                .swiper-slide 
                    img(src="images/IMG2.png", alt="rocket")
                .swiper-slide 
                    img(src="images/IMG3.png", alt="security-lock")
                .swiper-slide 
                    img(src="images/IMG4.png", alt="richman")
                .swiper-slide 
                    img(src="images/IMG5.png", alt="airplane")
                .swiper-slide 
                    img(src="images/IMG6.png", alt="travel-bag")
        .swiper-pagination
        .swiper-buttons
            .swiper-button-prev
            .swiper-button-next

