$white: #FFFFFF;
$white_01: #FFFFFF73;
$black_03: #00000033;
$black_02: #00000029;
$black_01: #0000001A;
$black_00: #000000;
$blue: #007DFB;
$violet: #5271F3;
$gray_01: #ACACAC63;
$gray: #707070;
$ligth-gray: #E1E1E1;
$white-gray: #F3F4F6;



