.hero {

    &__wrapper {
        max-width: 685px;
        margin: 0 auto;
        margin-top: 7%;

        & h1 {
            margin-bottom: 37px;
            text-align: center;
            font: normal normal bold 96px/110px Poppins;
            letter-spacing: 0px;
        }

        & p {
            text-align: center;
            font: normal normal normal 22px/27px Poppins;
            letter-spacing: 0px;
            color: $blue;
        }
    }
}

@media (max-width: 1020px) {
    .hero {

        &__wrapper {
            max-width: 339px;
            padding: 0 10px;
            margin: 0 auto;
            margin-top: 20%;

    
            & h1 {
                margin-bottom: 27px;
                text-align: center;
                font: normal normal bold 46px/50px Poppins;
                letter-spacing: 0px;
            }
    
            & p {
                text-align: center;
                font: normal normal normal 14px/27px Poppins;
                letter-spacing: 0px;
                color: $blue;
            }
        }
    }
}