header.header
    .header__wrapper 
        a.header__logo(href="/index.html")
            img(src="images/logo.svg", alt="Logo Company")
        .header__menu
            input(id="toggle" type="checkbox")
            label(for="toggle")
                span 
                span 
                span 
            .header__hidden-menu
                nav.header__nav 
                    ul.header__list 
                        li.header__item 
                            a(href="/page_2.html").header__link.link Products
                        li.header__item 
                            a(href="/page_3.html").header__link.link Prices
                        li.header__item 
                            a(href="#Security").header__link.link Security
                        li.header__item
                            a(href="#Resources").header__link.link Resources
                            .resources(id="Resources") 
                                ul.resources__list
                                    li.resources__item 
                                        a.resources__link(href="#") About
                                        p.resources__decription We aim to continuously refine our services in highly dynamic industry.
                                    li.resources__item 
                                        a.resources__link(href="#") Careers
                                        p.resources__decription Come join our team and help us build the future.
                                    li.resources__item 
                                        a.resources__link(href="#") Support
                                        p.resources__decription Answers to FAQs and how to contact our customer service team.
                                    li.resources__item 
                                        a.resources__link(href="#") Blog
                                        p.resources__decription Aroduct announcements, company updates, and industry perspectives.
                .header__control.control
                    button.control__button Log in
                    .control__select
                        div.select(id="language")
                            button(type="button" class="select__toggle" name="language" value="eng" data-select="toggle" data-index="0") English
                            div.select__dropdown
                                ul.select__options
                                    li.select__option.select__option_selected(data-select="option" data-value="eng" data-index="0") English
                                    li.select__option(data-select="option" data-value="txt" data-index="1") Text
                                    li.select__option(data-select="option" data-value="rus" data-index="2") Russian
                                    li.select__option(data-select="option" data-value="txt" data-index="3") Text
                                    li.select__option(data-select="option" data-value="ua" data-index="4") Ukrainian
                                    li.select__option(data-select="option" data-value="txt" data-index="5") Text
                                    li.select__option(data-select="option" data-value="bu" data-index="6") Belorussian
                                    li.select__option(data-select="option" data-value="txt" data-index="7") Text
                                    li.select__option(data-select="option" data-value="txt" data-index="8") Text
                                    li.select__option(data-select="option" data-value="txt" data-index="9") Text
                                    li.select__option(data-select="option" data-value="txt" data-index="10") Text
                                    li.select__option(data-select="option" data-value="txt" data-index="11") Text
                    .control__search-button
                    .control__search.search
                        input.search__form(type="text" name="search" placeholder="Search")
                        button.search__button(type="submit")